<mat-card *ngFor="let item of list; let i = index" class="blue-card">
  <mat-card-header>
    <div class="header-title">
      <mat-card-title class="title">{{'dcc.identifications.identifier' | translate}} {{i+1}}</mat-card-title>
    </div>
    <div class="header-menu">
      <button (click)="toggleCard(i)" class="blue-card-btn" mat-icon-button>
        <mat-icon>
          <i class="material-icons">{{isExpanded[i]?'keyboard_arrow_up':'keyboard_arrow_down'}}</i></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="isExpanded[i]">
    <div>
      <div class="dcc-row">
        <div class="label-container">
          <label for="issuer">{{'dcc.identifications.issuer' | translate}}<span class="asterix">*</span></label>
        </div>
        <mat-form-field appearance="fill">
          <mat-select [(value)]="item.issuer" id="issuer" required>
            <mat-option *ngFor="let entry of validIdentificationIssuers" [value]="entry" required>
              {{ entry }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="dcc-row">
        <div class="label-container">
          <label for="value">{{'dcc.identifications.identifier' | translate}}<span class="asterix">*</span></label>
        </div>
        <mat-form-field appearance="fill">
          <input [(ngModel)]=item.value id="value" matInput name="value" required>
        </mat-form-field>
      </div>
      <app-dcc-localised-string [placeholder]="'Name'" [strings]="item.name!"></app-dcc-localised-string>
    </div>
    <button (click)="list.splice(i, 1)" *ngIf="list.length > 1" color="accent" mat-icon-button>
      <mat-icon>remove_circle</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<button (click)="list.push(getEmptyIdentifictionDto());addExpanded()" color="primary" mat-icon-button>
  <mat-icon>add_circle</mat-icon>
</button>
