<div class="container-humanReadable">
  <mat-card class="blue-card humanReadable">
    <mat-card-header>
      <div class="header-title">
        <mat-card-title class="title">{{'dcc.calibration-certificate' | translate}}</mat-card-title>
      </div>
      <div class="header-menu">
        <button (click)="download(true)" class="blue-card-btn" mat-icon-button>
          <mat-icon>
            <i class="material-icons"><i class="material-icons">download</i></i>
          </mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content *ngIf="isExpanded">
      <div class="content-humanReadable">
        <div class="wrapper-humanReadable" *ngIf="humanReadableHtml!=''"></div>
        <div class="wrapper-humanReadable message" *ngIf="humanReadableHtml==''"><p class="message-content">
          {{'dcc.preview.attention' | translate}}:
          {{'dcc.preview.mandatoryFields' | translate}}!</p></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
