<mat-card *ngFor="let item of list; let i = index" class="blue-card">
  <mat-card-header>
    <div class="header-title">
      <mat-card-title class="title">Verwendete Methode {{i+1}}</mat-card-title>
      <app-info-button tooltipText="Zeige das DCC-Wiki"
                       url="https://wiki.dcc.ptb.de/en/dccusedMethodType"></app-info-button>
    </div>
    <div class="header-menu">
      <button (click)="toggleCard(i)" class="blue-card-btn" mat-icon-button>
        <mat-icon>
          <i class="material-icons">{{isExpanded[i]?'keyboard_arrow_up':'keyboard_arrow_down'}}</i></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="isExpanded[i]">
    <p>
      <app-dcc-localised-string [isRequired]="true" [placeholder]="'Name'"
                                [strings]="item.name!"></app-dcc-localised-string>
      <mat-form-field>
        <mat-label>Norm</mat-label>
        <input [(ngModel)]=item.norms![0] matInput name="norm" required>
      </mat-form-field>

      <mat-icon *ngIf="item.description"
                matTooltip="An diesem Element hängt ein weiteres Objekt vom Typ Rich Content, dass aber aktuell in diesem Frontend weder bearbeitet noch angezeigt werden kann. Es bleibt aber bei der Erzeugung des DCC erhalten.">
        question_mark
      </mat-icon>
    </p>
    <button (click)="list.splice(i, 1);isExpanded.splice(i,1)" mat-icon-button>
      <mat-icon>remove</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<button (click)="list.push(getEmptyUsedMethodDto()); addExpanded()" color="accent" mat-icon-button>
  <mat-icon>add</mat-icon>
</button>
