<mat-card *ngFor="let item of list; let i = index" class="blue-card">
  <mat-card-header>
    <div class="header-title">
      <mat-card-title class="title">{{'dcc.usedMethod' | translate}} {{i+1}}</mat-card-title>
      <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                       url="https://wiki.dcc.ptb.de/en/dccusedMethodType"></app-info-button>
    </div>
    <div class="header-menu">
      <button (click)="toggleCard(i)" class="blue-card-btn" mat-icon-button>
        <mat-icon>{{ isExpanded[i] ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content *ngIf="isExpanded[i]">
    <app-dcc-localised-string [isRequired]="true" [placeholder]="'dcc.name' | translate"
                              [strings]="item.name!"></app-dcc-localised-string>
    <div class="row">
      <div class="label-container">
        <label for="refTypes"> {{'dcc.norm' | translate}}</label>
      </div>
      <mat-form-field class="full-width" appearance="fill">
        <input [(ngModel)]="item.norms![0]" matInput name="norm"/>
      </mat-form-field>
    </div>
    <h4>{{'dcc.description' | translate}}</h4>
    <app-dcc-richcontent class="full-width" [richContent]="item.description"></app-dcc-richcontent>
    <mat-divider></mat-divider>
    <button class="custom-circle-button-md" (click)="list.splice(i, 1);isExpanded.splice(i,1)"
            mat-icon-button color="accent">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<button class="custom-circle-button-md" (click)="list.push(getEmptyUsedMethodDto()); addExpanded()" color="primary"
        mat-icon-button>
  <mat-icon>add_circle</mat-icon>
</button>
