<div class="dialog-overlay" (click)="closeDialog()">
  <div class="dialog-content" (click)="$event.stopPropagation()">
    <mat-card class="blue-card cockpit">
      <mat-card-header>
        <div class="header-title">
          <mat-card-title class="title">Information</mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          <app-version pathPart="dcc"></app-version>
        </p>
        <div class="dialog-link">
          <p><a href="https://wiki.dcc.ptb.de/en/home" target="_blank">DCC-Wiki</a></p>
          <p><a href="/dcc/v3/api-docs/swagger-ui.html" target="_blank">API-Dokumentation</a></p>
          <p><a href="https://www.ptb.de/cms/en/service-seiten/impressum.html" target="_blank">Impressum</a></p>
          <p><a href="https://www.ptb.de/cms/en/service-seiten/data-protection.html" target="_blank">Datenschutz</a></p>
          <p><a href="about:blank" target="_blank">Über uns</a></p> <!-- TODO: Create a page about the team -->
        </div>
        <button (click)="closeDialog()" color="primary" mat-raised-button>Schließen</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>