
  .version-info{
    position: fixed; /* Position the element relative to the viewport */
    bottom: 0; /* Align the element to the bottom */
    right: 0; /* Align the element to the right */
    padding: 16px; /* Add padding for spacing */
    border-radius: 8px; /* Add border radius for rounded corners */
    margin: 16px;
    font-size: 10px;
    line-height: 0.3;
  }
