  .row .mat-form-field-flag{
    margin: 0;
    padding:0;
    flex-grow: 0;
    margin-left:5px;
    width:60px;
  }

  .mat-form-field-flag,
  .mat-form-field-flag:hover,
  .mat-form-field-flag.mat-focused,
  .mat-form-field-flag .mat-mdc-text-field--focused,
  .mat-form-field-flag .mdc-notched-outline,
  .mat-form-field-flag .mdc-notched-outline__leading,
  .mat-form-field-flag .mdc-notched-outline__notch,
  .mat-form-field-flag .mdc-notched-outline__trailing {
    --mdc-outlined-text-field-outline-color: transparent !important;
    --mdc-outlined-text-field-outline-width: 0px !important;
    border-color: transparent !important;
  }
  .mat-form-field-flag .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  }
  .mat-form-field-flag .mat-mdc-text-field-wrapper{
    padding:0px;
  }

  .mat-select-flag {
    width:40px !important;
    margin-left:10px;
  }
  .icon-flag{
    font-size: 18px;
  }
 .custom-dropdown-panel {
  min-width: 165px !important;
  }

  .localise-textarea{
    resize: none !important;
    overflow: auto;
  }
