<div class="header-container">
  <h2 class="header-title" mat-dialog-title>{{ "dcc.footer.imprint" | translate }}</h2>
  <a (click)="closeDialog()" class="header-button">X</a>
</div>
<mat-dialog-content>
  <h1>GEMIMEG Tool 2.0</h1>
  <p>
    <b>PTB Braunschweig:</b><br/>
    Bundesallee 100<br/>
    D-38116 Braunschweig<br/>
    Phone: +49 (0)531-592-0<br/>
    E-Mail: <a href="mailto:info@ptb.de">info(at)ptb.de</a>
  </p>
  <hr/>
  <p>
    <b>PTB Berlin-Charlottenburg:</b><br/>
    Abbestraße 2-12 <br/>
    D-10587 Berlin<br/>
    Phone: +49 (0)30-3481-0<br/>
    E-mail: <a href="mailto:info@ptb.de">info(at)ptb.de</a>
  </p>
</mat-dialog-content>
