/**
*  Copyright 2025 Physikalisch-Technische Bundesanstalt
*
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions are met:
*
*  1. Redistributions of source code must retain the above copyright notice,
*  this list of conditions and the following disclaimer.
*
*  2. Redistributions in binary form must reproduce the above copyright notice,
*  this list of conditions and the following disclaimer in the documentation
*  and/or other materials provided with the distribution.
*
*  3. Neither the name of the copyright holder nor the names of its contributors
*  may be used to endorse or promote products derived from this software without
*  specific prior written permission.
*
*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
*  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
*  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
*  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
*  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
*  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
*  LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
*  OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
*  OF THE POSSIBILITY OF SUCH DAMAGE.
*
*/
.dcc-wrapper {
	 border: 1px solid rgb(112, 112, 112);
	 border-radius: 10px;
	 min-width:300px;
	 width: auto;
	 padding: 15px;
	 .dcc-logos {
		 display: flex;
		 align-items: center;
		 justify-content: space-between;
		 width: 100%;
		 height: 120px;
		 border-bottom: 1px solid rgb(130, 130, 131);
	}
	 .dcc-content {
		 h1 {
			 margin-top: 20px;
			 margin-bottom: 5px;
			 font-size: 36px;
			 font-weight: 600;
		}
		 .english-title {
			 font-size: 18px;
			 font-style: italic;
		}
		 .administrative-data {
			 .p-l {
				 border-bottom: 1px solid rgb(0, 0, 0,0.08);
				 padding:10px 0;
			}
			 h2, h3, h4 {
				 margin-top: 10px;
				 margin-bottom: 5px;
			}
			 h2 {
				 font-size: 24px;
				 font-weight: 600;
			}
			 h3 {
				 font-size: 18px;
				 font-weight: 600;
			}
			 h4 {
				 font-size: 16px !important;
				 font-weight: 600 !important;
			}
			 .english-label {
				 font-size: 12px;
				 font-style: italic;
			}
			 table {
				 min-width: 200px;
				 border-collapse: collapse;
				 margin: 10px;
			}
			 thead tr {
				 border-bottom: 1px solid black;
			}
			 th {
				 text-align: left;
				 border-bottom: 1px solid black;
			}
			 td {
				 vertical-align:top;
			}
			 td:first-child {
				 min-width:180px;
				 max-width: 180px;
			}
			 td p {
				 margin: 0;
				 width: 100%;
			}
			 td p:last-child {
				 margin-bottom: 5px;
			}
			 .nested-list {
				 border: none;
				 .nested-header {
					 margin-left: 0px;
					 font-size: 14px;
					 font-weight: 600;
					 display: inline;
				}
				 .nested-english-label {
					 font-size: 14px;
					 font-weight: 500;
					 font-style: italic;
					 display: inline;
				}
				 table {
					 margin-left: 0px;
					 min-width: 200px;
					 max-width: 700px;
				}
				 table thead tr th {
					 border: none;
				}
				 thead tr th{
					 font-weight: 500;
				}
			}
		}
	}
}
