<div class="header-container">
  <h2 class="header-title" mat-dialog-title>Data Privacy Notice</h2>
  <a (click)="closeDialog()" class="header-button">X</a>
</div>
<mat-dialog-content>
  <h1>Deutsch:</h1>
  <ol type="I">
    <li>Angaben zum Verantwortlichen</li>
    <p>
      Für die Verarbeitung personenbezogener Daten im Zusammenhang mit der Nutzung des Digital Calibration Certificate
      (DCC) Creation Tool (GEMIMEG II-Tool) ist die PTB Braunschweig und Berlin, Bundesallee 100, 38116 Braunschweig,
      Deutschland, Tel.: +49 (0)531 592-0, E-Mail: info&#64;ptb.de verantwortlich. Weitere Hinweise zum Datenschutz,
      insbesondere die Kontaktdaten der/des Datenschutzbeauftragten, Angaben zur Verarbeitung von Protokolldaten beim
      Aufrufen der Webseite sowie die Ihnen aufgrund der Verarbeitung Ihrer Daten zustehenden Rechte, finden Sie unter:
      www.ptb.de/datenschutz.
    </p>
    <li>Zwecke und Rechtsgrundlagen der Verarbeitung</li>
    <p>
      Das GEMIMEG II-Tool ermöglicht die Erstellung Digitaler Kalibrierzertifikate. Über die Anwendung können
      Verwaltungsdaten manuell in Digitalen Kalibrierscheinen erstellt und maschinenlesbare Dokumente generiert werden.
      Die Verarbeitung personenbezogener Daten im Zusammenhang mit der Nutzung des GEMIMEG II-Tools erfolgt im Rahmen
      der Befugnisse und satzungsgemäßen Aufgaben, die der PTB übertragenen wurden. Rechtsgrundlage ist Art. 6 Abs. 1
      lit. e, Abs. 3 Datenschutz-Grundverordnung (DSGVO) in Verbindung mit § 3 Bundesdatenschutzgesetzt (BDSG).
    </p>
    <li>Datenverarbeitung</li>
    <p>
      Im Zusammenhang mit der Nutzung des GEMIMEG II-Tools sind folgende personenbezogene Daten Gegenstand der
      Verarbeitung:
    </p>
    <ul>
      <li>
        Name und Kontaktdaten (Anschrift, optional E-Mail und Telefon) des Kunden bzw. einer Ansprechperson beim Kunden
      </li>
      <li>
        Name und Kontaktdaten (Anschrift, optional: E-Mail, Telefon) des Kalibrierlabors bzw. einer Ansprechperson des
        Kalibrierlabors
      </li>
      <li>Name und Kontaktdaten (optional: E-Mail und Telefon) der für die Freigabe verantwortlichen Person(en)</li>
      <li>
        Ggf. personenbezogene Angaben zum Kalibierobjekt und zu Messgeräten (Name und optional Kontaktdaten des
        Herstellers)
      </li>
      <li>
        Ggf. weitere personenbezogene Daten, die in als Anhang zum Digitalen Kalibrierzertifikat hochgeladenen Dateien
        enthalten sind
      </li>
    </ul>
    <p>
      Die im Rahmen der Nutzung des GEMIMEG II-Tools verarbeiteten Daten werden durch die PTB grundsätzlich nur so lange
      gespeichert, wie es unter Beachtung der gesetzlichen Aufbewahrungsfristen, der Geschäftsordnung der PTB, oder
      vertraglicher Verpflichtungen für die jeweilige Zweckerreichung erforderlich ist. Wenn Sie selbst Digitale
      Kalibrierzertifikate in das GEMIMEG II-Tool hochladen und diese dann über die Anwendung abrufen, werden die
      Dokumente lediglich temporär gespeichert und beim Schließen der Anwendung gelöscht. Nicht abgerufene hochgeladene
      Dokumente sowie teilausgefüllte Digitale Kalibrierzertifikate, die nicht heruntergeladen werden, werden spätestens
      nach 24 Stunden gelöscht.
    </p>
  </ol>
  <br />
  <hr />
  <h1>English:</h1>
  <ol type="I">
    <li>Information on the Controller</li>
    <p>
      Responsible for the processing of personal data in connection with the use of the Digital Calibration Certificate
      (DCC) Creation Tool (GEMIMEG II-Tool) is the PTB Braunschweig and Berlin, Bundesallee 100, 38116 Braunschweig,
      Germany, Phone: +49 (0) 531 592-0, E-Mail: info&#64;ptb.de. Further information on data protection, in particular
      the contact details of the data protection officer, information on the processing of log data when accessing the
      website and the rights to which you are entitled due to the processing of your data, can be found at:
      www.ptb.de/data-protection.
    </p>
    <li>Purposes and legal basis of data processing</li>
    <p>
      The GEMIMEG II-Tool enables the creation of digital calibration certificates. The application can be used to
      manually create administrative data in digital calibration certificates and generate human-readable documents. The
      processing of personal data in connection with the use of the GEMIMEG II tool is carried out within the scope of
      the authorisations and statutory tasks assigned to PTB. The legal basis is Article 6 (1) e), (3) of the General
      Data Protection Regulation (GDPR) in conjunction with § 3 of the Federal Data Protection Act (BDSG).
    </p>
    <li>Data processing</li>
    <p>The following personal data is processed in connection with the use of the GEMIMEG II tool:</p>
    <ul>
      <li>
        Name and contact details (address, optional: e-mail and telephone) of the customer or a contact person at the
        customer
      </li>
      <li>
        Name and contact details (address, optional: e-mail and telephone) of the calibration laboratory or a contact
        person at the calibration laboratory
      </li>
      <li>
        Name and contact details (optional: e-mail and telephone) of the person responsible for releasing the report
      </li>
      <li>
        Personal data, if applicable, regarding the calibration item and used measurement devices (Name and optional:
        contact details of the manufacturer)
      </li>
      <li>
        Other personal data contained in files uploaded as attachments to the Digital Calibration Certificate, if
        applicable
      </li>
    </ul>
    <p>
      In general, personal data processed by PTB in the context of using the GEMIMEG II-Tool, will only be stored for
      the period necessary to achieve the respective purpose, considering the statutory retention periods. If you upload
      digital calibration certificates to the GEMIMEG II-Tool and then retrieve them via the application, the documents
      are only saved temporarily and deleted when the application is closed. Uploaded documents that are not retrieved
      and partially completed digital calibration certificates that are not downloaded are deleted after 24 hours at the
      latest.
    </p>
  </ol>
</mat-dialog-content>
