/**
*  Copyright 2025 Physikalisch-Technische Bundesanstalt
*
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions are met:
*
*  1. Redistributions of source code must retain the above copyright notice,
*  this list of conditions and the following disclaimer.
*
*  2. Redistributions in binary form must reproduce the above copyright notice,
*  this list of conditions and the following disclaimer in the documentation
*  and/or other materials provided with the distribution.
*
*  3. Neither the name of the copyright holder nor the names of its contributors
*  may be used to endorse or promote products derived from this software without
*  specific prior written permission.
*
*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
*  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
*  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
*  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
*  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
*  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
*  LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
*  OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
*  OF THE POSSIBILITY OF SUCH DAMAGE.
*
*/
.sidenav {
  width: relative;
  display: flex;
  flex-direction: column;
  flex: 2;
  min-height: relative;
}

.logo-top {
  height: 70%;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 100;
}

.active-link {
  background-color: rgb(182, 178, 178);
  color: #313ee9;
}

.angular-version-first-item {
  font-weight: bold;
  color: #000000;
  margin-top: 520px;
  margin-left: 15px;
  font-size: 9px;
}

.timestamp {
  font-size: 12px;
  color: rgb(0, 0, 0);
  margin-left: 17px;
  font-size: 10px;
  line-height: 1.3;
}

.sidenav-container {
  height: relative;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-item-wrapper {
  display: flex;
  align-items: center;
}

.display-icon {
  margin-right: 10px;
}

.menu-text {
  margin-right: 10px;
  font-size: 83%;
}

.main-menu-toggler {
  background: none;
  border: none;
  cursor: pointer;
}

.main-menu-toggler mat-icon {
  display: flex;
  fill: currentColor;
  transition: transform 0.3s ease;
}

.list-item:hover {
  background: hsl(240, 3%, 87%);
}

.list-item:hover .main-menu-toggler mat-icon {
  transform: translateX(10px);
}

.angular-version-other-items {
  color: #000000;
  margin-left: 15px;
  font-size: 9px;
}

.timestamp {
  font-style: italic;
  color: hsl(0, 0%, 0%);
}

.list-item {
  text-decoration: none; // Remove default link underline
  color: #333; // Example text color
}

.main-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; // Adjust padding as needed
}

.menu-text {
  justify-content: left;
  font-size: 14px; // Example font size
}

.arrow-icon {
  justify-content: center;
  font-size: 18px; // Example font size
}
