<!--this is a stub-->
<p>
  <mat-form-field>
    <mat-label>{{'dcc.label' | translate}}</mat-label>
    <input [(ngModel)]=dataType.label matInput name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'dcc.value' | translate}}</mat-label>
    <input [(ngModel)]=dataType.dimension!.value matInput name="value">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'dcc.unit' | translate}}</mat-label>
    <input [(ngModel)]=dataType.dimension!.unit matInput name="unit">
  </mat-form-field>
</p>
