<!--
  Copyright 2025 Physikalisch-Technische Bundesanstalt

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:

  1. Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.

  2. Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

  3. Neither the name of the copyright holder nor the names of its contributors
  may be used to endorse or promote products derived from this software without
  specific prior written permission.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
  LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
  OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
  OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<div *ngIf="unifiedQuantities.length >= 0">
  <div *ngFor="let entry of unifiedQuantities; let index = index">
    <div *ngIf="entry.quantity.hybridValues">
      <mat-card *ngIf="entry.quantity as quantity" class="blue-card">
        <mat-card-header>
          <div class="header-title">
            <mat-card-title class="title">{{ "dcc.quantity" | translate }} {{ index + 1 }}</mat-card-title>
          </div>
          <div class="header-menu">
            <button (click)="toggleCardQuantity(index)" class="blue-card-btn" mat-icon-button type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-toggle-button">
              <mat-icon>
                <i class="material-icons">{{
                  isExpandedQuantity[index] ? "keyboard_arrow_up" : "keyboard_arrow_down"
                  }}</i>
              </mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="isExpandedQuantity[index]">
          <div class="real-container">
            <div class="section-header">
              <mat-radio-group [(ngModel)]="isReal[index]" (change)="onRealTypeChange(index)" class="radio-group">
                <mat-radio-button [value]="true" class="radio-button"
                                  id="{{idPrefix}}-measurand-{{index+1}}-radio-button-real"
                ><span>{{ "dcc.real" | translate }}</span></mat-radio-button
                >
                <mat-radio-button [value]="false" class="radio-button"
                                  id="{{idPrefix}}-measurand-{{index+1}}-radio-button-reallistxmllist"
                ><span>{{ "dcc.realListXMLList" | translate }}</span></mat-radio-button
                >
              </mat-radio-group>
            </div>
            <div *ngFor="let refType of quantity.refTypes; let i = index; trackBy: trackByIndex" class="dcc-row">
              <div class="label-container"><label
                  for="{{idPrefix}}-measurand-{{index+1}}-ref-type-{{i+1}}">RefType</label></div>
              <mat-form-field appearance="fill" class="form-field-right-0px">
                <input
                    (input)="onInputChange($event, i, quantity.refTypes)"
                    [value]="refType"
                    id="{{idPrefix}}-measurand-{{index+1}}-ref-type-{{i+1}}"
                    matInput
                />
              </mat-form-field>
              <div class="button-container-right-0px">
                <button
                    (click)="addRefType(quantity.refTypes)"
                    class="custom-circle-button-sm"
                    color="primary"
                    mat-icon-button
                    type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-ref-type-{{i+1}}-add-button"
                >
                  <mat-icon>add_circle</mat-icon>
                </button>
                <button
                    (click)="removeRefType(quantity.refTypes, i)"
                    class="custom-circle-button-sm"
                    color="accent"
                    mat-icon-button
                    type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-ref-type-{{i+1}}-remove-button"
                >
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
            </div>
            <app-dcc-localised-string
                [placeholder]="'dcc.name' | translate"
                [strings]="quantity.name!"
                [type]="'NAME'"
                [idPrefix]="idPrefix + '-measurand-' + (index+1)"
            ></app-dcc-localised-string>
            <div class="dcc-row ng-star-inserted">
              <div class="label-container">
                <label for="{{idPrefix}}-measurand-{{index+1}}-date">{{ "dcc.dateTime" | translate }}</label>
              </div>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="date" id="{{idPrefix}}-measurand-{{index+1}}-date" matInput type="text"/>
              </mat-form-field>
            </div>
            <div *ngIf="isReal[index] && unifiedQuantities[0].source === 'single'">
              <div *ngFor="let dim of entry.quantity!.hybridValues?.dimensions; let i = index" class="dcc-row">
                <div class="label-container">
                  <label class="index-label">#{{ i + 1 }}</label>
                </div>
                <div class="form-field-container">
                  <label for="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-value">{{ "dcc.value" | translate
                    }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="dim.value" id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-value"
                           matInput/>
                  </mat-form-field>
                </div>
                <div class="form-field-container">
                  <label for="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-unit">{{ "dcc.unit" | translate
                    }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="dim.unit" id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-unit"
                           matInput/>
                  </mat-form-field>
                </div>
                <button
                    (click)="removeRow(item)"
                    class="custom-circle-button-sm"
                    color="accent"
                    mat-icon-button
                    type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-remove-button"
                >
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
              <div class="dcc-row">
                <div class="label-container">
                  <label class="index-label">({{ "dcc.newEntry" | translate }})</label>
                </div>
                <div class="form-field-container">
                  <label for="{{idPrefix}}-measurand-{{index+1}}-new-dimension-value">{{ "dcc.value" | translate
                    }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="newValue" id="{{idPrefix}}-measurand-{{index+1}}-new-dimension-value" matInput/>
                  </mat-form-field>
                </div>
                <div class="form-field-container">
                  <label for="{{idPrefix}}-measurand-{{index+1}}-new-dimension-unit">{{ "dcc.unit" | translate
                    }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="newUnit" id="{{idPrefix}}-measurand-{{index+1}}-new-dimension-unit" matInput/>
                  </mat-form-field>
                </div>
                <button
                    (click)="addNewRow(quantity.hybridValues)"
                    [disabled]="!newValue || !newUnit"
                    class="custom-circle-button-sm"
                    color="primary"
                    mat-icon-button
                    type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-dimension-add-row-button"
                >
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="!isReal[index] && unifiedQuantities[0].source === 'list'">
              <div *ngFor="let dim of getDimensions(entry, i); let i = index" class="dcc-row">
                <div class="label-container">
                  <label class="index-label">#{{ i + 1 }}</label>
                </div>
                <div class="form-field-container">
                  <label for="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-hybrid-values">{{ "dcc.values" |
                    translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="dim.value"
                           id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-hybrid-values" matInput/>
                  </mat-form-field>
                </div>
                <div class="form-field-container">
                  <label for="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-hybrid-units">{{ "dcc.units" |
                    translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="dim.unit" id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-hybrid-units"
                           matInput/>
                  </mat-form-field>
                </div>
                <button
                    (click)="removeRow(item)"
                    class="custom-circle-button-sm"
                    color="accent"
                    mat-icon-button
                    type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-remove-hybrid-button"
                >
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
              <div class="dcc-row">
                <div class="label-container">
                  <label class="index-label">({{ "dcc.newEntry" | translate }})</label>
                </div>
                <div class="form-field-container">
                  <label for="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-new-dimension-value2">{{ "dcc.value"
                    | translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="newValue"
                           id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-new-dimension-value2" matInput/>
                  </mat-form-field>
                </div>
                <div class="form-field-container">
                  <label for="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-new-dimension-unit2">{{ "dcc.unit" |
                    translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="newUnit"
                           id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-new-dimension-unit2" matInput/>
                  </mat-form-field>
                </div>
                <button
                    (click)="addNewRow(quantity.hybridValues)"
                    [disabled]="!newValue || !newUnit"
                    class="custom-circle-button-sm"
                    color="primary"
                    mat-icon-button
                    type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-dimension-add-hybrid-row-button"
                >
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="item?.data?.length > 0" class="dcc-row">
              <div *ngIf="item?.data[0].list?.quantities[index].hybridValues?.expandedUncList" class="label-container">
                <button (click)="toggleExpandedUncertainty(index)" mat-icon-button
                        id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-uncertainty-toggle-button">
                  <mat-icon>{{ showExpandedUncertainty[index] ? "remove" : "add" }}</mat-icon>
                </button>
                <span> {{ "dcc.ExpandedUncertainty" | translate }}</span>
              </div>
            </div>
            <div *ngIf="showExpandedUncertainty[index]">
              <div
                  *ngFor="let dim of item.data[0].list.quantities[index].hybridValues.expandedUncList; let i = index"
                  class="dcc-row"
              >
                <div class="label-container">
                  <label class="index-label">#{{ i + 1 }}</label>
                </div>
                <div class="form-field-containerU">
                  <label>{{ "dcc.uncertainty" | translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="dim.uncertainty" matInput
                           id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-uncertainty"/>
                  </mat-form-field>
                </div>
                <div class="form-field-containerU">
                  <label>{{ "dcc.coverageFactor" | translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="dim.coverageFactor" matInput
                           id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-coverage-factor"/>
                  </mat-form-field>
                </div>
                <div class="form-field-containerU">
                  <label>{{ "dcc.coverageProbability" | translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input [(ngModel)]="dim.coverageProbability" matInput
                           id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-coverage-probability"/>
                  </mat-form-field>
                </div>
                <button
                    (click)="removeUncertaintyEntry(item, index, i)"
                    class="custom-circle-button-sm"
                    color="accent"
                    mat-icon-button
                    type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-uncertainty-remove-button"
                >
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
              <div class="dcc-row">
                <div class="label-container">
                  <label class="index-label">({{ "dcc.newEntry" | translate }})</label>
                </div>
                <div class="form-field-containerU">
                  <label>{{ "dcc.uncertainty" | translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input
                        [(ngModel)]="(newUncertaintyEntry[index] = newUncertaintyEntry[index] || {}).uncertainty"
                        matInput
                        id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-new-entry-uncertainty"
                    />
                  </mat-form-field>
                </div>
                <div class="form-field-containerU">
                  <label>{{ "dcc.coverageFactor" | translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input
                        [(ngModel)]="(newUncertaintyEntry[index] = newUncertaintyEntry[index] || {}).coverageFactor"
                        matInput
                        id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-new-entry-coverage-factor"
                    />
                  </mat-form-field>
                </div>
                <div class="form-field-containerU">
                  <label>{{ "dcc.coverageProbability" | translate }}</label>
                  <mat-form-field appearance="fill" class="form-field">
                    <input
                        [(ngModel)]="(newUncertaintyEntry[index] = newUncertaintyEntry[index] || {}).coverageProbability"
                        matInput
                        id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-new-entry-coverage-probability"
                    />
                  </mat-form-field>
                </div>
                <button
                    (click)="addNewUncertaintyEntry(item, index)"
                    [disabled]="
                    !newUncertaintyEntry[index].uncertainty ||
                    !newUncertaintyEntry[index].coverageFactor ||
                    !newUncertaintyEntry[index].coverageProbability
                  "
                    class="custom-circle-button-sm"
                    color="primary"
                    mat-icon-button
                    type="button"
                    id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-uncertainty-add-button"
                >
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
        <button (click)="removeRow(item)" class="custom-circle-button-sm" color="accent" mat-icon-button type="button"
                id="{{idPrefix}}-measurand-{{index+1}}-remove-button">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-card>
    </div>
    <div *ngIf="!entry.quantity.hybridValues">
      <label>{{ "dcc.dimension" | translate }}</label>
      <div *ngIf="entry.quantity.dimension as dimension">
        <label>{{ "dcc.dimension" | translate }}</label>
        <div class="dcc-row">
          <div class="label-container">
            <label class="index-label">#1</label>
          </div>
          <div class="form-field-container">
            <label for="dimensionValue">{{ "dcc.value" | translate }}</label>
            <mat-form-field appearance="fill" class="form-field-obj">
              <input [(ngModel)]="dimension.value"
                     id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-value-static" matInput/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <label for="dimensionUnit">{{ "dcc.unit" | translate }}</label>
            <mat-form-field appearance="fill" class="form-field-obj">
              <input [(ngModel)]="dimension.unit" id="{{idPrefix}}-measurand-{{index+1}}-dimension-{{i+1}}-unit-static"
                     matInput/>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="saveRealData(item)" class="custom-circle-button-md" color="primary" mat-icon-button type="button"
          id="{{idPrefix}}-measurand-add-button">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
