/**
*  Copyright 2025 Physikalisch-Technische Bundesanstalt
*
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions are met:
*
*  1. Redistributions of source code must retain the above copyright notice,
*  this list of conditions and the following disclaimer.
*
*  2. Redistributions in binary form must reproduce the above copyright notice,
*  this list of conditions and the following disclaimer in the documentation
*  and/or other materials provided with the distribution.
*
*  3. Neither the name of the copyright holder nor the names of its contributors
*  may be used to endorse or promote products derived from this software without
*  specific prior written permission.
*
*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
*  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
*  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
*  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
*  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
*  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
*  LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
*  OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
*  OF THE POSSIBILITY OF SUCH DAMAGE.
*
*/
@use "@angular/material" as mat;

@include mat.core();

/* use colors from logo */
$md-primary: (
  50: #e0eef9,
  100: #b3d4f0,
  200: #80b8e7,
  300: #4d9cdd,
  400: #2686d5,
  500: #002039,
  600: #0069c9,
  700: #005ec2,
  800: #0054bc,
  900: #0042b0,
  A100: #dae5ff,
  A200: #a7c1ff,
  A400: #749eff,
  A700: #5a8cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$md-accent: (
  50: #e8f8ff,
  100: #a5c3dd,
  200: #a5c3dd,
  300: #a5c3dd,
  400: #a5c3dd,
  500: #a5c3dd,
  600: #a5c3dd,
  700: #a5c3dd,
  800: #a5c3dd,
  900: #a5c3dd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffeace,
  A700: #ffe0b4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$md-warning: (
  50: #ffeded,
  100: #ffd3d2,
  200: #ffb6b4,
  300: #ff9995,
  400: #ff837f,
  500: #ff6d68,
  600: #ff6560,
  700: #ff5a55,
  800: #ff504b,
  900: #ff3e3a,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe3e3,
  A700: #ffcac9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$my-app-primary: mat.define-palette($md-primary);
$my-app-accent: mat.define-palette($md-accent);
$my-app-warn: mat.define-palette($md-warning);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);

:root {
  --primary-color: #{mat.get-color-from-palette($my-app-primary, 500)};
  --primary-lighter: #{mat.get-color-from-palette($my-app-primary, 100)};
  --primary-darker: #{mat.get-color-from-palette($my-app-primary, 700)};
}
