<form #dccForm="ngForm">
  <mat-card class="blue-card cockpit">
    <mat-card-header>
      <div class="header-title">
        <mat-card-title class="title">{{'dcc.dccTemplates' | translate}}</mat-card-title>
      </div>
      <div class="header-menu">
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-select [(value)]="templateFileUrl" placeholder="{{'dcc.selectDccTemplate' | translate}}">
          <mat-optgroup *ngFor="let template of dccService.exampleDccs" [label]="template.category" style="color: blue">
            <mat-option *ngFor="let DCC of template.DCC" [value]="DCC.url" ng-size="15">{{ DCC.name }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <button (click)="useTemplate()" [disabled]="templateFileUrl == undefined" color="primary" mat-raised-button>
        {{'dcc.applyTemplate' | translate}}
      </button>
      <button (click)="submit()" [disabled]="dccForm.invalid" color="primary" mat-raised-button>{{'dcc.downloadDcc' |
        translate}}
      </button>
      <app-dcc-upload requiredFileType="application/xml" buttonLabel="DCC hochladen..."></app-dcc-upload>
    </mat-card-content>
  </mat-card>
  <mat-stepper #stepper linear [selectedIndex]="currentStepIndex" (selectionChange)="onStepChange($event)">
    <mat-step>
      <ng-template matStepLabel>{{'dcc.administrativeData' | translate}}*</ng-template>
      <mat-card class="blue-card">
        <mat-card-header>
          <div class="header-title">
            <mat-card-title class="title">
              {{'dcc.dccSoftware' | translate}}*
            </mat-card-title>
            <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                             url="https://wiki.dcc.ptb.de/en/dccdccSoftware"></app-info-button>
          </div>
          <div class="header-menu">
            <button (click)="toggleCard('DCC-Software')" class="blue-card-btn" mat-icon-button>
              <mat-icon>
                <i class="material-icons">{{isExpanded['DCC-Software']?'keyboard_arrow_up' :'keyboard_arrow_down'}}</i>
              </mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="isExpanded['DCC-Software']">
          <app-dcc-software [list]="dcc.administrativeData!.dccSoftware!"></app-dcc-software>
        </mat-card-content>
      </mat-card>
      <mat-card class="blue-card">
        <mat-card-header>
          <div class="header-title">
            <mat-card-title class="title">{{'dcc.coreData' | translate}}*</mat-card-title>
            <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                             url="https://wiki.dcc.ptb.de/en/dcccoredata"></app-info-button>
          </div>
          <div class="header-menu">
            <button (click)="toggleCard('Basis-Daten')" class="blue-card-btn" mat-icon-button>
              <mat-icon>
                <i class="material-icons">{{isExpanded['Basis-Daten']?'keyboard_arrow_up' :'keyboard_arrow_down'}}</i>
              </mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="isExpanded['Basis-Daten']">
          <mat-form-field>
            <mat-label>{{'dcc.countryOfCalibration' | translate}}</mat-label>
            <input [(ngModel)]="dcc.administrativeData!.countryCode" matInput name="countryCode"
                   oninput="this.value = this.value.toUpperCase()" required/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'dcc.usedLanguages' | translate}}</mat-label>
            <input (ngModelChange)="dcc.administrativeData!.languageCodes = $event.split(',')"
                   [ngModel]="dcc.administrativeData!.languageCodes" matInput name="languageCodes" required/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'dcc.calibrationCertificateNumber' | translate}}</mat-label>
            <input [(ngModel)]="dcc.administrativeData!.uniqueIdentifier" matInput name="uniqueIdentifier" required/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'dcc.receiptDateOfCalibrationItem' | translate}}</mat-label>
            <input (ngModelChange)="dcc.administrativeData!.receiptDate = dccService.marshalCustomDate($event)"
                   [matDatepicker]="receiptDate" [ngModel]="dcc.administrativeData!.receiptDate" matInput
                   name="receiptDate"
                   readonly/>
            <mat-hint>{{'dcc.YYYYMMDD' | translate}}</mat-hint>
            <mat-datepicker-toggle [for]="receiptDate" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #receiptDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'dcc.beginDateOfLaboratoryProcedure' | translate}}</mat-label>
            <input (ngModelChange)="dcc.administrativeData!.startDate = dccService.marshalCustomDate($event)"
                   [matDatepicker]="beginPerformanceDate" [ngModel]="dcc.administrativeData!.startDate" matInput
                   name="startDate" readonly required/>
            <mat-hint>{{'dcc.YYYYMMDD' | translate}}</mat-hint>
            <mat-datepicker-toggle [for]="beginPerformanceDate" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #beginPerformanceDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'dcc.endDateOfLaboratoryProcedure' | translate}}</mat-label>
            <input (ngModelChange)="dcc.administrativeData!.endDate = dccService.marshalCustomDate($event)"
                   [matDatepicker]="endPerformanceDate" [ngModel]="dcc.administrativeData!.endDate" matInput
                   name="endDate"
                   readonly required/>
            <mat-hint>{{'dcc.YYYYMMDD' | translate}}</mat-hint>
            <mat-datepicker-toggle [for]="endPerformanceDate" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #endPerformanceDate></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="blue-card">
        <mat-card-header>
          <div class="header-title">
            <mat-card-title class="title">{{'dcc.customer' | translate}}*</mat-card-title>
            <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                             url="https://wiki.dcc.ptb.de/en/dcccustomer"></app-info-button>
          </div>
          <div class="header-menu">
            <button (click)="toggleCard('Kunde')" class="blue-card-btn" mat-icon-button>
              <mat-icon>
                <i class="material-icons">{{isExpanded['Kunde']?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
              </mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="isExpanded['Kunde']">
          <app-dcc-contact [contact]="dcc.administrativeData!.customer!"></app-dcc-contact>
        </mat-card-content>
      </mat-card>
      <mat-card class="blue-card">
        <mat-card-header>
          <div class="header-title">
            <mat-card-title class="title">{{'dcc.calibrationLaboratory' | translate}}*</mat-card-title>
            <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                             url="https://wiki.dcc.ptb.de/en/dcccalibrationLaboratory"></app-info-button>
          </div>
          <div class="header-menu">
            <button (click)="toggleCard('Kalibrierlabor')" class="blue-card-btn" mat-icon-button>
              <mat-icon>
                <i class="material-icons">{{isExpanded['Kalibrierlabor']?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
              </mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="isExpanded['Kalibrierlabor']">
          <mat-form-field>
            <mat-label>{{'dcc.identificationOfCalibrationLaboratory' | translate}}</mat-label>
            <input [(ngModel)]="dcc.administrativeData!.calibrationLaboratory!.calibrationLaboratoryCode" matInput
                   name="calibrationLaboratoryCode"/>
          </mat-form-field>
          <mat-divider></mat-divider>
          <app-dcc-contact [contact]="dcc.administrativeData!.calibrationLaboratory!.contact!"></app-dcc-contact>
        </mat-card-content>
      </mat-card>
      <mat-card class="blue-card">
        <mat-card-header>
          <div class="header-title">
            <mat-card-title class="title">{{'dcc.responsiblePersons' | translate}}*</mat-card-title>
            <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                             url="https://wiki.dcc.ptb.de/en/dccrespPerson"></app-info-button>
          </div>
          <div class="header-menu">
            <button (click)="toggleCard('Verantwortliche-Personen')" class="blue-card-btn" mat-icon-button>
              <mat-icon>
                <i class="material-icons">{{isExpanded['Verantwortliche-Personen']?'keyboard_arrow_up'
                  :'keyboard_arrow_down'}}</i>
              </mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content *ngIf="isExpanded['Verantwortliche-Personen']">
          <app-dcc-responsible-person [list]="dcc.administrativeData!.responsiblePersons!"></app-dcc-responsible-person>
        </mat-card-content>
      </mat-card>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{'dcc.calibrationItems' | translate}}*</ng-template>
      <div *ngFor="let item of dcc.administrativeData!.items; let i = index">
        <mat-card class="blue-card">
          <mat-card-header>
            <div class="header-title">
              <mat-card-title class="title">{{'dcc.calibrationItem' | translate}} {{ i + 1 }}</mat-card-title>
              <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                               url="https://wiki.dcc.ptb.de/en/dccitem" i18n></app-info-button>
            </div>
            <div class="header-menu">
              <button (click)="toggleCard('Kalibriergut'+(i+1))" class="blue-card-btn" mat-icon-button>
                <mat-icon>
                  <i class="material-icons">{{isExpanded['Kalibriergut'+(i+1)]?'keyboard_arrow_up'
                    :'keyboard_arrow_down'}}</i>
                </mat-icon>
              </button>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="isExpanded['Kalibriergut'+(i+1)]">
            <app-dcc-localised-string [isRequired]="true" [placeholder]="'dcc.name' | translate"
                                      [strings]="item.name!"></app-dcc-localised-string>
            <div class="row">
              <div class="label-container">
                <label for="model">{{'dcc.modelOrOther' | translate}}</label>
              </div>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="item.model" matInput id="model" name="model"/>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="label-container">
                <label for="classReference">{{'dcc.normOfClassification' | translate}}</label>
              </div>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="item.classReference" matInput id="classReference" name="classReference"/>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="label-container">
                <label for="classId">{{'dcc.reference' | translate}}</label>
              </div>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="item.classId" matInput id="classId" name="classId"/>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <h4>{{'dcc.description' | translate}}</h4>
            <app-dcc-richcontent [richContent]="item.description!"></app-dcc-richcontent>
            <mat-divider></mat-divider>
            <h4>{{'dcc.manufacturer' | translate}}</h4>
            <app-dcc-contact [contact]="item.manufacturer!" [strict]="false"></app-dcc-contact>
            <mat-divider></mat-divider>
            <h4>{{'dcc.identifiersOfCalibrationItem' | translate}}*</h4>
            <app-dcc-identifications [list]="item.identifications!"></app-dcc-identifications>
            <mat-card class="blue-card">
              <mat-card-header>
                <div class="header-title">
                  <mat-card-title class="title">{{'dcc.installedSoftware' | translate}}</mat-card-title>
                  <app-info-button tooltipText="Zeige das DCC-Wiki"
                                   url="https://wiki.dcc.ptb.de/en/dccdccSoftware"></app-info-button>
                </div>
                <div class="header-menu">
                  <button (click)="toggleCard('Installierte-Software')" class="blue-card-btn" mat-icon-button>
                    <mat-icon>
                      <i class="material-icons">{{isExpanded['Installierte-Software']?'keyboard_arrow_up'
                        :'keyboard_arrow_down'}}</i>
                    </mat-icon>
                  </button>
                </div>
              </mat-card-header>
              <mat-card-content *ngIf="isExpanded['Installierte-Software']">
                <app-dcc-software [list]="item.installedSoftwares!"></app-dcc-software>
              </mat-card-content>
            </mat-card>
            <button class="custom-circle-button-lg" (click)="dcc.administrativeData!.items!.splice(i, 1)"
                    *ngIf="dcc.administrativeData!.items!.length > 1" color="accent" mat-icon-button>
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
        <button class="custom-circle-button-lg"
                (click)="dcc.administrativeData!.items!.push(getEmptyItemDto());addCalibrationCard('Kalibriergut' + (i + 2) )"
                color="primary" mat-icon-button>
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel i18n>{{'dcc.statements' | translate}}</ng-template>
      <ng-container *ngIf="!showEmptyStatement">
        <mat-card appearance="outlined" class="statements">
          <mat-card-content>
            <button (click)="showStatement()" class="statements-btn" color="accent" mat-flat-button>
              {{'dcc.addStatements' | translate}}
            </button>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="showEmptyStatement">
        <app-dcc-measurement-metadata [header]="header_statement"
                                      [list]="dcc.administrativeData!.statements!"></app-dcc-measurement-metadata>
      </ng-container>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{'dcc.measurementResults' | translate}}*</ng-template>
      <div *ngFor="let item of dcc.measurementResults; let i=index">
        <mat-card class="blue-card">
          <mat-card-header>
            <div class="header-title">
              <mat-card-title class="title" i18n>{{'dcc.measurementResult' | translate}} {{ i + 1 }}</mat-card-title>
              <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                               url="https://wiki.dcc.ptb.de/en/dccmeasurementResult"></app-info-button>
            </div>
            <div class="header-menu">
              <button (click)="toggleCard('Messergebnis'+(i+1))" class="blue-card-btn" mat-icon-button>
                <mat-icon><i
                    class="material-icons">{{isExpanded['Messergebnis'+(i+1)]?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
                </mat-icon>
              </button>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="isExpanded['Messergebnis'+(i+1)]">
            <app-dcc-localised-string [isRequired]="true" [placeholder]="'dcc.name' | translate"
                                      [strings]="item.name!"></app-dcc-localised-string>
            <mat-card class="blue-card">
              <mat-card-header>
                <div class="header-title">
                  <mat-card-title class="title">{{'dcc.usedSoftware' | translate}}</mat-card-title>
                  <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                                   url="https://wiki.dcc.ptb.de/en/dccdccSoftware" i18n></app-info-button>
                </div>
                <div class="header-menu">
                  <button (click)="toggleCard('Verwendete-Software')" class="blue-card-btn" mat-icon-button>
                    <mat-icon>
                      <i class="material-icons">{{isExpanded['Verwendete-Software']?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
                    </mat-icon>
                  </button>
                </div>
              </mat-card-header>
              <mat-card-content *ngIf="isExpanded['Verwendete-Software']">
                <app-dcc-software [list]="item.usedSoftware!"></app-dcc-software>
              </mat-card-content>
            </mat-card>
            <mat-card class="blue-card">
              <mat-card-header>
                <div class="header-title">
                  <mat-card-title class="title">{{'dcc.usedMethods' | translate}}</mat-card-title>
                  <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                                   url="https://wiki.dcc.ptb.de/en/dccusedMethodType"></app-info-button>
                </div>
                <div class="header-menu">
                  <button (click)="toggleCard('Verwendete-Methoden')" class="blue-card-btn" mat-icon-button>
                    <mat-icon>
                      <i class="material-icons">{{isExpanded['Verwendete-Methoden']?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
                    </mat-icon>
                  </button>
                </div>
              </mat-card-header>
              <mat-card-content *ngIf="isExpanded['Verwendete-Methoden']">
                <app-dcc-used-methods [list]="item.usedMethods!"></app-dcc-used-methods>
              </mat-card-content>
            </mat-card>
            <mat-card class="blue-card">
              <mat-card-header>
                <div class="header-title">
                  <mat-card-title class="title">{{'dcc.usedMeasurementDevices' | translate}}</mat-card-title>
                  <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                                   url="https://wiki.dcc.ptb.de/en/dccmeasuringEquipmentType" i18n></app-info-button>
                </div>
                <div class="header-menu">
                  <button (click)="toggleCard('Verwendete-Messinstrumente')" class="blue-card-btn" mat-icon-button>
                    <mat-icon>
                      <i class="material-icons">{{isExpanded['Verwendete-Messinstrumente']?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
                    </mat-icon>
                  </button>
                </div>
              </mat-card-header>
              <mat-card-content *ngIf="isExpanded['Verwendete-Messinstrumente']">
                <app-dcc-measurement-equipment [list]="item.equipment!"></app-dcc-measurement-equipment>
              </mat-card-content>
            </mat-card>
            <mat-card class="blue-card">
              <mat-card-header>
                <div class="header-title">
                  <mat-card-title class="title">{{'dcc.influenceConditions' | translate}}</mat-card-title>
                  <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                                   url="https://wiki.dcc.ptb.de/en/dccinfluenceConditionType"></app-info-button>
                </div>
                <div class="header-menu">
                  <button (click)="toggleCard('Einflussfaktoren')" class="blue-card-btn" mat-icon-button>
                    <mat-icon>
                      <i
                          class="material-icons">{{isExpanded['Einflussfaktoren']?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
                    </mat-icon>
                  </button>
                </div>
              </mat-card-header>
              <mat-card-content *ngIf="isExpanded['Einflussfaktoren']">
                <app-dcc-influence-conditions [list]="item.influenceConditions!"></app-dcc-influence-conditions>
              </mat-card-content>
            </mat-card>
            <mat-card class="blue-card">
              <mat-card-header>
                <div class="header-title">
                  <mat-card-title class="title">{{'dcc.results' | translate}}*</mat-card-title>
                  <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                                   url="https://wiki.dcc.ptb.de/en/dccresultListType"></app-info-button>
                </div>
                <div class="header-menu">
                  <button (click)="toggleCard('Ergebnisse')" class="blue-card-btn" mat-icon-button>
                    <mat-icon>
                      <i
                          class="material-icons">{{isExpanded['Ergebnisse']?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
                    </mat-icon>
                  </button>
                </div>
              </mat-card-header>
              <mat-card-content *ngIf="isExpanded['Ergebnisse']">
                <app-dcc-results [list]="item.results!"></app-dcc-results>
              </mat-card-content>
            </mat-card>
            <mat-card class="blue-card">
              <mat-card-header>
                <div class="header-title">
                  <mat-card-title class="title">{{'dcc.metaData' | translate}}</mat-card-title>
                  <app-info-button tooltipText="{{'dcc.openDccWiki' | translate}}"
                                   url="https://wiki.dcc.ptb.de/en/dccstatement"></app-info-button>
                </div>
                <div class="header-menu">
                  <button (click)="toggleCard('Meta-Daten')" class="blue-card-btn" mat-icon-button>
                    <mat-icon>
                      <i
                          class="material-icons">{{isExpanded['Meta-Daten']?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
                    </mat-icon>
                  </button>
                </div>
              </mat-card-header>
              <mat-card-content *ngIf="isExpanded['Meta-Daten']">
                <app-dcc-measurement-metadata [header]="header_meta_data"
                                              [list]="item.statements!"></app-dcc-measurement-metadata>
              </mat-card-content>
            </mat-card>
            <mat-divider [inset]="true"></mat-divider>
            <button class="custom-circle-button-lg" (click)="dcc.measurementResults!.splice(i, 1)"
                    *ngIf="dcc.measurementResults!.length > 1" color="accent" mat-icon-button>
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
        <button class="custom-circle-button-lg"
                (click)="dcc.measurementResults!.push(getEmptyMeasurementResultDto());addCalibrationCard('Messergebnis'+(i+2))"
                color="primary" mat-icon-button>
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
<div class="footer-navigation">
  <button mat-button color="primary" (click)="previousStep(stepper)" [disabled]="currentStepIndex === 0"
          class="previous-button">{{'button.previousStep' | translate}}
  </button>
  <button mat-button color="accent" (click)="nextStep(stepper)" [disabled]="currentStepIndex === totalSteps - 1"
          class="next-button">{{'button.nextStep' | translate}}
  </button>
</div>
