<!--
  Copyright 2025 Physikalisch-Technische Bundesanstalt

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:

  1. Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.

  2. Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

  3. Neither the name of the copyright holder nor the names of its contributors
  may be used to endorse or promote products derived from this software without
  specific prior written permission.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
  LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
  OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
  OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<div class="form-container">
  <form #dccForm="ngForm">
    <mat-card class="blue-card cockpit">
      <mat-card-header>
        <div class="header-title">
          <mat-card-title class="title">{{ "dcc.dccTemplates" | translate }}</mat-card-title>
        </div>
        <div class="header-menu"></div>
      </mat-card-header>
      <mat-card-content>
        <app-dcc-template-picker></app-dcc-template-picker>
        <app-dcc-upload></app-dcc-upload>
        <app-dcc-download [disabled]="dccForm.invalid"></app-dcc-download>
      </mat-card-content>
    </mat-card>
    <mat-stepper #stepper (selectionChange)="onStepChange($event)" [selectedIndex]="currentStepIndex"
                 class="sticky-stepper"
                 linear>
      <mat-step>
        <ng-template matStepLabel>{{ "dcc.administrativeData" | translate }}*</ng-template>
        <app-dcc-software-list [softwareList]="dcc.administrativeData!.dccSoftware!" [title]="'DCC-Software'"
                               [urlPart]="'dccdccSoftware'" [idPrefix]="'admin-dcc-software'"></app-dcc-software-list>
        <mat-card class="blue-card">
          <mat-card-header>
            <div class="header-title">
              <mat-card-title class="title">{{ "dcc.coreData" | translate }}*</mat-card-title>
              <app-info-button tooltipText="Zeige das DCC-Wiki"
                               url="https://wiki.dcc.ptb.de/en/dcccoredata"></app-info-button>
            </div>
            <div class="header-menu">
              <button [matMenuTriggerFor]="menu" class="blue-card-btn" id="admin-core-data-add-language-button"
                      mat-icon-button name="admin-core-data-add-language-button" type="button">
                <mat-icon>
                  <i class="material-icons">add</i>
                </mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="editMandatoryLanguage(translate.instant('dcc.mandatoryLanguage'))" id="admin-core-data-mandatoryLang-button"
                        mat-menu-item>
                  {{ "dcc.mandatoryLanguages" | translate }}
                </button>
                <button (click)="editUsedLanguage(translate.instant('dcc.usedLanguage'))" id="admin-core-data-usedLang-button"
                        mat-menu-item>{{ "dcc.usedLanguages"
                  | translate }}
                </button>
              </mat-menu>
              <button (click)="toggleCard('Basis-Daten')" class="blue-card-btn" mat-icon-button type="button"
                      id="admin-core-data-toggle-button" name="admin-core-data-toggle-button">
                <mat-icon>
                  <i class="material-icons">{{ isExpanded["Basis-Daten"] ? "keyboard_arrow_up" : "keyboard_arrow_down"
                    }}</i>
                </mat-icon>
              </button>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="isExpanded['Basis-Daten']">
            <div class="dcc-row language-container">
              <div class="label-container-big"></div>
              <div class="language-list">
                <div class="mandatory-languages">
                  <div class="chip-label-chip" disabled>{{ "dcc.mandatoryLanguages" | translate }}</div>
                  <mat-chip-set aria-label="mandatoryLanguages" class="mat-mdc-chip-set-stacked">
                    <mat-chip (removed)=" i !== 0 && removeMandatoryLanguage(lang)" *ngFor="let lang of languagesService.getMandatoryLanguages();index as i"
                              [removable]="i !== 0" color="accent" selected>
                      {{lang}}
                      - {{languageMap.get(lang)}}
                      <button [attr.aria-label]="'removeMandatoryLanguage ' + lang" matChipRemove>
                        <mat-icon
                          *ngIf="i !==0">delete
                        </mat-icon>
                      </button>
                    </mat-chip>
                  </mat-chip-set>
                </div>
                <div class="used-languages">
                  <div class="chip-label-chip" disabled>{{ "dcc.usedLanguages" | translate }}</div>
                  <mat-chip-set aria-label="usedLanguages" class="mat-mdc-chip-set-stacked">
                    <mat-chip (removed)=" i!==0 && removeUsedLanguage(lang)" *ngFor="let lang of languagesService.getUsedLanguages(); index as i"
                              [removable]="i !== 0" color="accent" selected>{{lang}}
                      - {{languageMap.get(lang)}}
                      <button [attr.aria-label]="'removeUsedLanguage ' + lang" matChipRemove>
                        <mat-icon
                          *ngIf="i !==0">delete
                        </mat-icon>
                      </button>
                    </mat-chip>
                  </mat-chip-set>
                </div>
              </div>
            </div>
            <div class="dcc-row">
              <div class="label-container-big">
                <label for="admin-core-data-country-code">{{ "dcc.countryCode" | translate }}<span
                    class="asterix">*</span></label>
              </div>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="dcc.administrativeData!.countryCode" id="admin-core-data-country-code"
                       name="admin-core-data-country-code" matInput
                       oninput="this.value = this.value.toUpperCase()" required/>
              </mat-form-field>
            </div>
            <div class="dcc-row">
              <div class="label-container-big">
                <label for="admin-core-data-calibration-mark">{{ "dcc.calibrationMark" | translate }}<span
                    class="asterix">*</span></label>
              </div>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="dcc.administrativeData!.uniqueIdentifier" id="admin-core-data-calibration-mark"
                       matInput required/>
              </mat-form-field>
            </div>
            <div class="dcc-row">
              <div class="label-container-big">
                <label for="admin-core-data-receipt-date">{{ "dcc.receiptDate" | translate }}</label>
              </div>
              <mat-form-field appearance="fill">
                <input (ngModelChange)="dcc.administrativeData!.receiptDate = dccService.marshalCustomDate($event)"
                       [matDatepicker]="receiptDate" [ngModel]="dcc.administrativeData!.receiptDate"
                       name="admin-core-data-receipt-date" id="admin-core-data-receipt-date" matInput readonly/>
                <mat-hint>{{ "dcc.YYYYMMDD" | translate }}</mat-hint>
                <mat-datepicker-toggle [for]="receiptDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #receiptDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="dcc-row">
              <div class="label-container-big">
                <label for="admin-core-data-start-date">{{ "dcc.beginPerformanceDate" | translate }}<span
                    class="asterix">*</span></label>
              </div>
              <mat-form-field appearance="fill">
                <input (ngModelChange)="dcc.administrativeData!.startDate = dccService.marshalCustomDate($event)"
                       [matDatepicker]="beginPerformanceDate" [ngModel]="dcc.administrativeData!.startDate"
                       name="admin-core-data-start-date" id="admin-core-data-start-date" matInput readonly required/>
                <mat-hint>{{ "dcc.YYYYMMDD" | translate }}</mat-hint>
                <mat-datepicker-toggle [for]="beginPerformanceDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #beginPerformanceDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="dcc-row">
              <div class="label-container-big">
                <label for="admin-core-data-end-date">{{ "dcc.endPerformanceDate" | translate }}<span
                    class="asterix">*</span></label>
              </div>
              <mat-form-field appearance="fill">
                <input (ngModelChange)="dcc.administrativeData!.endDate = dccService.marshalCustomDate($event)"
                       [matDatepicker]="endPerformanceDate" [ngModel]="dcc.administrativeData!.endDate"
                       name="admin-core-data-end-date" id="admin-core-data-end-date"
                       matInput readonly required/>
                <mat-hint>{{ "dcc.YYYYMMDD" | translate }}</mat-hint>
                <mat-datepicker-toggle [for]="endPerformanceDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #endPerformanceDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="row"></div>
            <div class="dcc-row">
              <div class="label-container-big">
                <!--suppress XmlInvalidId -->
                <label for="admin-core-data-performance-location">{{ "dcc.performanceLocation" | translate }}</label>
              </div>
              <mat-form-field appearance="fill">
                <mat-select [(value)]="dcc.administrativeData!.performanceLocation"
                            id="admin-core-data-performance-location" required>
                  <mat-option *ngFor="let entry of performanceLocation" [value]="entry">
                    {{ entry }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="blue-card">
          <mat-card-header>
            <div class="header-title">
              <mat-card-title class="title">{{ "dcc.customer" | translate }}*</mat-card-title>
              <app-info-button
                  tooltipText="'dcc.showDccWiki' | translate"
                  url="https://wiki.dcc.ptb.de/en/dcccustomer"
              ></app-info-button>
            </div>
            <div class="header-menu">
              <button (click)="toggleCard('Kunde')" class="blue-card-btn" mat-icon-button type="button"
                      name="admin-customer-toggle-button" id="admin-customer-toggle-button">
                <mat-icon>
                  <i class="material-icons">{{ isExpanded["Kunde"] ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</i>
                </mat-icon>
              </button>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="isExpanded['Kunde']">
            <app-dcc-contact (fileSelected)="onFileSelected($event)" [contact]="dcc.administrativeData!.customer!"
                             [idPrefix]="'admin-customer'"></app-dcc-contact>
          </mat-card-content>
        </mat-card>
        <mat-card class="blue-card">
          <mat-card-header>
            <div class="header-title">
              <mat-card-title class="title">{{ "dcc.calibrationLaboratory" | translate }}*</mat-card-title>
              <app-info-button
                  tooltipText="'dcc.showDccWiki' | translate"
                  url="https://wiki.dcc.ptb.de/en/dcccalibrationLaboratory"
              ></app-info-button>
            </div>
            <div class="header-menu">
              <button (click)="toggleCard('Kalibrierlabor')" class="blue-card-btn" mat-icon-button type="button"
                      name="admin-calibration-laboratory-toggle-button" id="admin-calibration-laboratory-toggle-button">
                <mat-icon>
                  <i class="material-icons">{{ isExpanded["Kalibrierlabor"] ? "keyboard_arrow_up" :
                    "keyboard_arrow_down" }}</i>
                </mat-icon>
              </button>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="isExpanded['Kalibrierlabor']">
            <div class="dcc-row">
              <div class="label-container">
                <label for="admin-calibration-laboratory-code">{{ "dcc.calibrationLaboratoryCode" | translate }}</label>
              </div>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="dcc.administrativeData!.calibrationLaboratory!.calibrationLaboratoryCode" matInput
                       name="admin-calibration-laboratory-code" id="admin-calibration-laboratory-code"/>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <app-dcc-contact (fileSelected)="onFileSelected($event)"
                             [contact]="dcc.administrativeData!.calibrationLaboratory!.contact!"
                             [idPrefix]="'admin-calibration-laboratory'">
            </app-dcc-contact>
          </mat-card-content>
        </mat-card>
        <mat-card class="blue-card">
          <mat-card-header>
            <div class="header-title">
              <mat-card-title class="title">{{ "dcc.responsiblePersons" | translate }}*</mat-card-title>
              <app-info-button
                  tooltipText="'dcc.showDccWiki' | translate"
                  url="https://wiki.dcc.ptb.de/en/dccrespPerson"
              ></app-info-button>
            </div>
            <div class="header-menu">
              <button (click)="toggleCard('Verantwortliche-Personen')" class="blue-card-btn" mat-icon-button
                      type="button" name="admin-responsible-person-button" id="admin-responsible-person-button">
                <mat-icon>
                  <i class="material-icons">{{ isExpanded["Verantwortliche-Personen"] ? "keyboard_arrow_up" :
                    "keyboard_arrow_down" }}</i>
                </mat-icon>
              </button>
            </div>
          </mat-card-header>
          <mat-card-content *ngIf="isExpanded['Verantwortliche-Personen']">
            <app-dcc-responsible-person
                [list]="dcc.administrativeData!.responsiblePersons!"
                [idPrefix]="'admin-responsible-person'"></app-dcc-responsible-person>
          </mat-card-content>
        </mat-card>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ "dcc.calibrationItems" | translate }}</ng-template>
        <app-dcc-item-list [itemList]="dcc.administrativeData!.items!"
                           [manufacturerAvailable]="manufacturerAvailable"></app-dcc-item-list>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ "dcc.statements" | translate }}</ng-template>
        <ng-container *ngIf="!showEmptyStatement">
          <mat-card appearance="outlined" class="statements">
            <mat-card-content>
              <button (click)="showStatement()" class="statements-btn" color="accent" mat-flat-button type="button"
                      id="statements-2-add-statement-button">
                {{ "dcc.addStatement" | translate }}
              </button>
            </mat-card-content>
          </mat-card>
        </ng-container>
        <ng-container *ngIf="showEmptyStatement">
          <app-dcc-measurement-metadata
              [header]="header_statement"
              [list]="dcc.administrativeData!.statements!"
              [idPrefix]="'statements-2-statement'"
          ></app-dcc-measurement-metadata>
        </ng-container>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ "dcc.measurementResults" | translate }}</ng-template>
        <app-dcc-measuring-results
            (addMeasurementResult)="dcc.measurementResults!.push($event)"
            (removeMeasurementResult)="dcc.measurementResults!.splice($event, 1)"
            [headerMetaData]="header_meta_data"
            [isExpanded]="isExpanded"
            [measurementResults]="dcc.measurementResults"
            [idPrefix]="'measurement-results'"
        >
        </app-dcc-measuring-results>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ "dcc.preview" | translate }}</ng-template>
        <div class="preview-container">
          <mat-tab-group (selectedTabChange)="onTabChange($event)" class="preview-mat-tab-group">
            <mat-tab label="{{ 'dcc.humanReadable' | translate }}">
              <app-dcc-human-readable [dcc]="this.dcc" [humanReadableHtml]="humanReadableHtml"
                                      [pdfUrl]="pdfUrl"></app-dcc-human-readable>
            </mat-tab>
            <mat-tab label="XML">
              <app-dcc-xml-preview
                  [dcc]="this.dcc"
                  [idPrefix]="'preview'"
                  [rawXml]="xml"
              ></app-dcc-xml-preview>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
<div class="footer-container">
  <div class="footer-navigation">
    <button (click)="previousStep(stepper)" [disabled]="currentStepIndex === 0" class="previous-button" mat-button
            id="previous-step-button" name="previous-step-button">
      {{ "dcc.previousStep" | translate }}
    </button>
    <button (click)="nextStep(stepper)" [disabled]="currentStepIndex === totalSteps - 1" class="next-button" mat-button
            id="next-step-button" name="next-step-button">
      {{ "dcc.nextStep" | translate }}
    </button>
  </div>
</div>
<app-footer></app-footer>
